<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <h1>kowhsik</h1>
    <% urls.forEach(url => { %>
    <li><%= url.shortId %></li>
    <% }) %>

    <form method="POST" action="/v1">
      <label>Enter the url</label>
      <input type="text" id="url" name="url" />
      <button type="submit">Submit the data</button>
    </form>
  </body>
</html>
